<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      /* Navbar */
      nav {
        background-color: #000;
        color: #fff;
        padding: 10px;
      }

      nav a {
        text-decoration: none;
        color: #fff;
        padding: 10px;
      }

      nav a:hover {
        background-color: #fff;
        color: #000;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="#">About</a>
      <a href="/addBlog">Add Blog</a>
    </nav>
  </body>
</html>
