<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🚀 CMS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: "Inter", sans-serif;
        overflow-x: hidden;
      }

      /* Navbar */
      nav {
        background-color: #000;
        color: #fff;
        padding: 10px;
      }

      nav a {
        text-decoration: none;
        color: #fff;
        padding: 10px;
      }

      nav a:hover {
        background-color: #fff;
        color: #000;
      }
      .container {
        margin: 20px;
      }

      .blog-card {
        border: 1px solid #ccc;
        margin: 10px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }

      .blog-image {
        width: 10%;
        height: auto;
      }

      .blog-title {
        font-size: 24px;
        font-weight: bold;
      }

      .blog-subtitle {
        font-size: 18px;
        color: #888;
      }

      .blog-description {
        margin-top: 10px;
      }

      .footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/addBlog">Add Blog</a>
    </nav>
    <div class="container">
      <% blogs.forEach((blogs)=> {%>
      <div class="blog-card">
        <img class="blog-image" src="<%- blogs.imageName%>" alt="Blog Image" />
        <div class="blog-title"><%- blogs.title%></div>
        <div class="blog-subtitle"><%- blogs.subtitle%></div>
        <div class="blog-description"><%- blogs.description%>.</div>
      </div>
      <% }); %>

      <!-- Add more blog cards here as needed -->
    </div>

    <div class="footer">&copy; 2023 Sandip Sapkota</div>
  </body>
</html>
